<html>
    <head>
        <meta charset="UTF-8">
        <link rel=stylesheet href="chat.css">
    </head>
    <body>
        <div class="background">
            <!-- status bar -->
            <div class="status_bar">
                <span class="time">9:33</span>
                <span class="tel"></span>
                <span class="wifi"></span>
                <span class="battery"></span>
            </div>

            <!-- topbar -->
            <div class="free_board">
                <span class="back">
                    <img src="back.svg" alt="back">
                </span>
                <p class="free_board_txt">자유게시판</p>
                <span class="menu">
                    <img src="menu.svg" alt="menu">
                </span>
            </div>

            <div class="title">
                <p class="title_txt">E하우스 세제 나눔합니다.</p>
            </div>

            <!-- chat -->
            <span class="profile">
                <img src="profile.svg" alt="profile">
            </span>
            <span>
                <p class="nickname">닉네임</p>
            </span>

            <div class="chat_left">
                <div class="chat_left_box">
                    <p class="chat_left_txt">채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다</p>
                </div>
                <div>
                    <p class="date_left">2022.09.29 10:29</p>
                </div>
            </div>

            <div class="chat_right">
                <div class="chat_right_box">
                    <p class="chat_right_txt">채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없습니다채팅은글자수제한없</p>
                </div>
                <div>
                    <p class="date_right">2022.09.29 10:29</p>
                </div>
            </div>

            <!-- bar -->
            <div class="bar">
                <p class="input">채팅을 입력하세요.</p>
                <span>
                    <img src="send.svg" alt="send">
                </span>
            </div>

        </div>
    </body>
</html>