@font-face {
    font-family: "Pretendatd-Regular";
    src: url("../fonts/Pretendard-Regular.ttf");
  }
  
  * {
    font-family: "Pretendatd-Regular";
  }
  
  .board {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    padding: 16px;
    padding-top: 18px;
    background-color: #f5f5f5;
  }
  
  .board-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
    height: 36px;
  }
  
  .board-search {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 36px;
    background: rgba(255, 255, 255, 0.97);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 8px;
  }
  
  .board-search-input {
    width: 90%;
    font-size: 12px;
    font-weight: 500;
    backface-visibility: hidden;
    border-style: none;
  }
  
  .board-search-icon{
    margin-right: 10px;
    cursor: pointer;
  }

  .board-write-button{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 36px;
    background: linear-gradient(
      315.35deg,
      #225a21 13.45%,
      #326a31 45.29%,
      #528651 90.2%
    );
    border-style: none;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .board-write-icon{
    margin-left: 5px;
  }

  .board-write-text {
    width: 100%;
    color: white;
  }
  
  .board-middle {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  
  .board-bottom {
    margin-top: 20px;
  }

  