@font-face {
  font-family: "Pretendatd-Regular";
  src: url("../fonts/Pretendard-Regular.ttf");
}

*{
  font-family: "Pretendatd-Regular";
}

.sign-in{
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 398px;
  padding: 16px;
  background-color: #f5f5f5;
}

h1 {
  margin-top: 164px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
    color: #636363;
}

.login-btn,.signup-btn {
  width: 35%;
  height: 35px;
  background: linear-gradient(
    315.35deg,
    #225a21 13.45%,
    #326a31 45.29%,
    #528651 90.2%
  );
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 8px;
  cursor: pointer;
}
