@font-face {
  font-family: "Pretendatd-Regular";
  src: url("../fonts/Pretendard-Regular.ttf");
}

* {
  font-family: "Pretendatd-Regular";
}

.home {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  padding: 16px;
  background-color: #f5f5f5;
}

.home-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 11px;
}

.dorm-title {
  font-weight: 500;
  font-size: 20px;
  margin-right: 4px;
  color: #323232;
}

.dorm-subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
}

.btn-m {
  width: 40px;
  height: 20px;
  border: none;
  background: linear-gradient(
    315.35deg,
    #225a21 13.45%,
    #326a31 45.29%,
    #528651 90.2%
  );
  border-radius: 5px 0px 0px 5px;
  font-size: 11px;
  font-weight: 400px;
  color: #f2f2f2;
  cursor: pointer;
}

.btn-b {
  width: 40px;
  height: 20px;
  border: none;
  background: #d8d8d8;
  border-radius: 0px 5px 5px 0px;
  font-size: 11px;
  font-weight: 400px;
  cursor: pointer;
}

.home-search {
  width: 98%;
  height: 36px;
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 12px;
}

.home-middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.upper-card {
  width: 47%;
}

.home-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #f5f5f5;
}

.home-bottom {
  margin-top: 20px;
}

.lower-card {
  margin-bottom: 16px;
}
