@font-face {
  font-family: "Pretendatd-Regular";
  src: url("../fonts/Pretendard-Regular.ttf");
}

* {
  font-family: "Pretendatd-Regular";
}

.login{
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  padding: 16px;
  background-color: #f5f5f5;
}

h1 {
  margin-top: 164px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #636363;
}

.login-input {
  display: flex;
  flex-direction: column;
}


.login-id,
.login-pw {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  margin-bottom: 8px;
  width: 55%;
  height: 32px;
  padding-left: 14px;
}

.login-id::placeholder,
.login-pw::placeholder {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.select-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #636363;
  width: 40%;
  margin-bottom: 24px;
}
