.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.menu > section {
  /* flex-flow: column wrap;
  justify-content: flex-start; */
  width: 50%;
  max-width: 180px;
  background-color: #ffffff;
  animation: menu-show 0.3s;
  overflow: hidden;
  height: 100%;
  border-radius: 0px 10px 0px 0px;
}

.menu.openMenu {
  display: flex;
  align-items: left;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-left: -30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-logo-box {
  width: 100%;
  height: 10%;
  background: #326a31;
  border-radius: 0px 10px 0px 0px;
}

.menu-logo{
  margin-top: 5px;
  object-fit:contain;
  width: 50%;
  height: 75%;
  cursor: pointer;
}

.menu-close {
  cursor: pointer;
  float: right;
  margin: 10px;
  width: 8px;
  height: 8px;
}

.menu-list {
  list-style-type: none;
  text-align: left;
  padding: 15px 0 0 24px;
}

.menu-list>li{
  margin-bottom: 16px;
}

.list-name{
  cursor: pointer;
}